.section {
    margin: 35px 0;

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__block {
        text-align: center;
        background-color: $secondary-brand-color;
        color: $white-color;
        border-radius: $default-border-radius;
        box-shadow: $default-box-shadow;

        &__text {
            padding: 20px 10px;

            h3 {
                margin-bottom: 10px;
            }

            p {
                margin-top: 10px;
            }

            span {
                font-style: italic;
            }
        }

        @include breakpoint(xs) {
            margin-bottom: 15px;
        }
    }

    &__cta {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 45px;

        @include breakpoint(xs) {
            margin: auto;
            margin-bottom: 15px;
        }

    }

    &__usp {
        text-align: center;
        padding: 25px 5px;

        i {
            color: $primary-brand-color;
            font-size: 6rem;
            margin-bottom: 15px;
        }

        h3 {
            margin-bottom: 15px;
        }
    }

    &__text {
        text-align: center;
        max-width: 50%;
        margin: auto;
        margin-bottom: 20px;

        @include breakpoint(xs) {
            max-width: 70%;
        }
    }
}